.slidev-layout {
    h1, h2 {
        font-size: 3rem;
        margin: .5em 0;
    }
    p, ul {
        font-size: 1.8rem;
        font-weight: 500;
    }
    strong {
        font-weight: 900;
    }
}
